html{
    font-size: 10px;
    background-color: black;
}
.aling {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: aliceblue;
}
.style-block {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.style-p {
    font-family: 'Gill Sans','Calibri', serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: aliceblue;
}
.style-text {
    display: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: aliceblue;
}
.style-div:hover .style-text {
    display: block;
    transition: 6s;
}